/*Start - general formatting*/

a {
    text-decoration: none;
}

h1 {
    color: red;
}

button {
    width:100%;
    height:100%;
}

/*End - general formatting*/
/*Start - Boarder Formatting*/

header {border:1px solid black;}
header section {border:1px solid black;}
header nav {border:1px solid black;}
nav ul {border:1px solid black;}
main {border:1px solid black;}
footer {border:1px solid black;}
footer section {border:1px solid black;}

/*End - Boarder Formatting*/
/*Start - Header Flex-box Layout*/

header{
    display: flex;
}/*Flex container*/

header section{
    flex: 4 0 auto;
}

header nav{
    flex: 1 1 auto;
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}/*flex container*/

nav li{
    flex: 1 1 0;
}

/*End - Header Flex-box Layout*/

footer{
    float: left;
}

.social img{
    width: 32px;
    height: 32px;
}