h1 {
    color: red;
}

nav{
    float: right;
}

nav li{
    list-style-type: none;
    float: left;
}

footer{
    float: left;
}

.social img{
    width: 32px;
    height: 32px;
}

a {
    text-decoration: none;
}